extends layout

block constent
  body
    h1 Jade - node template engine
    #container.col
      p You are amazing
      p
        | Jade is a terse sdssdand simple
        | templating lsdsanguage with a
        | strong focus on performance
        | and powerful features.
